<a href="https://colab.research.google.com/github/Ajaygudipati/python-full-stack-development1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#empty tuple
my_tuple=("hello")
print(type(my_tuple))

<class 'str'>

In [2]:
#concatenation
print((1, 2, 3)+ (4 ,5, 6))
#repeat
print(("repeat",)*4)

(1, 2, 3, 4, 5, 6)
('repeat', 'repeat', 'repeat', 'repeat')

In [24]:
tp1=([],1,2,3,4)
print(all(tp1))

False

In [27]:
tp2=({1},"a",'1','2','3')
all(tp2)

True

In [37]:
my_tupl=(1,8,9,7,4,5,2,6,2)
print('total count of element 2 is ',my_tupl.count(2))
print('Index of 5 is ', my_tupl.index(5))
print(2 in my_tupl)
print(3 in my_tupl)
print(5 not in my_tupl)
print(len(my_tupl))
print(min(my_tupl))
print(max(my_tupl))
print(sorted(my_tupl))
print(sum(my_tupl))

total count of element 2 is  2
Index of 5 is  5
True
False
False
9
1
9
[1, 2, 2, 4, 5, 6, 7, 8, 9]
44

In [39]:
languages=['java', 'python','c']
enumerate=enumerate(languages)
print(list(enumerate))

[(0, 'java'), (1, 'python'), (2, 'c')]

In [12]:
names=('ajay','shiva','aravind','avinash')
for name in names:
  print('hello hi', name)

hello hi ajay
hello hi shiva
hello hi aravind
hello hi avinash

In [ ]:
my_tuple=("hello",)
print(type(my_tuple))

<class 'tuple'>

In [ ]:
my_tuple="hello",
print(type(my_tuple))

<class 'tuple'>

In [ ]:
my_tuple=()
print(my_tuple)
my_tuple=("1,2,3")
print(my_tuple)

()
1,2,3

In [ ]:
#nested tuple
n_tuple = ("ARJUN", [8 , 4, 6], (1, 2, 3))

print(n_tuple[0])
print(n_tuple[1])

print(n_tuple[0][0])
print(n_tuple[1][0])

ARJUN
[8, 4, 6]
A
8

In [ ]:
n_tuple = ("ARJUN", [8 , 4, 6], (1, 2, 3))
print(n_tuple)

n_tuple[1][1]=20
print(n_tuple)

('ARJUN', [8, 4, 6], (1, 2, 3))
('ARJUN', [8, 20, 6], (1, 2, 3))